@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

$body-font: 'Nunito Sans', Helvetica;
$body-font-size: 16px;
$h2-font-size: 24px;
$h3-font-size: 20px;
$h4-font-size: 18px;
$h5-font-size: 16px;
$h6-font-size: 14px;

$primary: rgba(115, 14, 141, 1);
$primary-10: rgba(115, 14, 141, 0.1);

body {
    font-family: $body-font;
    font-size: $body-font-size;
}